script(src="https://cdn.staticfile.org/animejs/2.2.0/anime.min.js")

script.
	window.$$ = selector => document.querySelector(selector)
	const getOriginalContent = selector => $$(selector).getAttribute("original-content")
	window.subtitle = "Web Developer"
	window.signature = getOriginalContent("#signature")

script(src='https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js')
//- 页面点击七彩颗粒
script(src='https://cdn.jsdelivr.net/gh/wliduo/Mark@master/assets/lib/seed.js')
//- 页面鼠标跟随花瓣
script(src='https://cdn.jsdelivr.net/gh/wliduo/Mark@master/assets/lib/follow.js')
//- 页面雪花效果
script(src='https://cdn.jsdelivr.net/gh/wliduo/CoolText@master/snow5/hovertreesnow.js')
//- Live2D看板娘
script(src='https://cdn.jsdelivr.net/gh/wliduo/Mark@master/assets/live2d/waifu-tips.js?v=1.4.2-fix3')
script(src='https://cdn.jsdelivr.net/gh/wliduo/Mark@master/assets/live2d/live2d.min.js?v=1.0.5')
script(src='https://cdn.jsdelivr.net/gh/wliduo/Index@master/js/main.js')
script(src='https://cdn.jsdelivr.net/gh/wliduo/Index@master/static/count.js')

